* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  zoom: 1;
}

/*------------------------------------------Header---------------------------*/

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 4.4rem;
  background-color: rgb(33, 33, 32);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-pic {
  height: 3.4rem;
  margin-left: 1.4rem;
}

#menu-icon {
  display: none;
}

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0;
}

.navbar li {
  list-style: none;
  padding: 0 1.3rem;
}

@keyframes underlineAnimation {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

.navbar a {
  color: white;
  font-family: "Jorgey", sans-serif;
  text-decoration: none;
  position: relative;
  padding: 10px 0;
  transition: color 0.3s ease;
}

.navbar a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #e74c3c;
  transition: width 0.3s ease, opacity 0.3s ease;
}

.navbar a:hover::after {
  width: 100%;
  animation: underlineAnimation 0.3s forwards;
}

.navbar a:hover {
  color: #e74c3c;
}

.nav-list-mobile {
  display: none;
}

.order-now button {
  display: inline-block;
  padding: 14px 26px;
  background: rgb(226, 88, 34);
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5rem;
  transition: all 0.4s ease;
  margin-right: 2rem;
  font-family: "Jorgey", sans-serif;
}

/*----------------------------------First-Section-------------------------- */

.hero {
  padding: 50px 6% 80px;
  background-image: url(https://i.postimg.cc/wj0L3Hdy/black-wood.webp);
  background-image: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 5%;
  margin-top: 4.4rem;
  height: 38rem;
}

.ribs {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

.hero-text h1 {
  font-size: 3.7rem;
  font-family: "Jorgey", sans-serif;
  line-height: 1.2;
  color: rgb(240, 79, 16);
}

.hero-text h1 span {
  /* color: rgb(101,157,65); */
  color: rgb(245, 196, 60);
}

.hero-text p {
  font-size: 3rem;
  font-weight: 500;
  color: white;
  font-family: "Okashi", sans-serif;

  margin-bottom: 2.3rem;
}

.btn-craving {
  display: inline-block;
  padding: 14px 26px;
  background: rgb(240, 79, 16);
  color: white;
  font-size: 15px;
  font-weight: 600;
  font-family: "Jorgey", sans-serif;
  transition: all 0.4s ease;
}

.btn-craving:hover {
  letter-spacing: 1px;
}


/*---------------------------------------Ingredients---------------------------------------*/
.container {
  display: flex;
}

.ingredients {
  flex: 0 1 300px;
  height: 15rem;
  background-color: rgb(245, 196, 60);
  font-size: 2rem;
  padding-top: 10px;
  padding-right: 40px;
  padding-left: 25px;
}

.container-box-wrapper {
  position: relative;
  width: 40%;
  flex: 1;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.container-box {
  display: flex;
  align-items: center;
  scroll-behavior: smooth;
  overflow-x: auto;
 
}


.scroll-arrow {
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  overflow: hidden;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;

}

.ingredients-text p {
  font-family: "Jorgey", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

.c-mainbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
  min-width: 200px;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  z-index: 1;
}

.c-mainbox:hover {
  background-color: rgb(244, 244, 244);
  transform: rotate(-3deg) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.container-img img {
  height: 8rem;
}

.text {
  font-family: "Jorgey", sans-serif;
  text-align: center;
}


/*---------------------------------------Specials---------------------------------------*/

.specials {
  padding: 4rem;
  background-image: url(https://lovesomejerk.com/revslider-standalone/media/6256a-wallpaper.wiki-Free-HD-Chalkboard-Photos-PIC-WPD006400.jpg);
  text-align: center;
}

.specials h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: white;
  font-family: "Jorgey", sans-serif;
}

.specials-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.special-item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  padding: 1rem;
  width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.special-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.special-item img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.special-item h3 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  font-family: "Jorgey", sans-serif;
}

.special-item p {
  font-size: 1rem;
  color: #666;
  margin: 0.5rem 0;
  font-family: "Okashi", sans-serif;
}

.special-item span {
  font-size: 1.25rem;
  font-weight: bold;
  color: rgb(240, 79, 16);
  font-family: "Okashi", sans-serif;
}

/*---------------------------------------Specials---------------------------------------*/

/*---------------------------------------Testimonials---------------------------------------*/
#Reviews {
  padding: 6rem;
  background-color: #f9f9f9;
  text-align: center;
  height: auto;
  font-family: "Jorgey", sans-serif;
}

#Reviews h2 {
  padding-bottom: 2rem;
  font-size: 2.5rem;
}

.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
@keyframes hoverEffect {
  0% {
    transform: scale(1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
}

.testimonial {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 250px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

.testimonial:hover {
  animation: hoverEffect 0.3s ease-in-out forwards;
}

blockquote {
  margin: 0;
  font-style: italic;
  font-family: "Okashi", sans-serif;
}

blockquote img {
  height: 9rem;
}

cite {
  display: block;
  margin-top: 0.5rem;
  font-weight: bold;
  color: rgb(240, 79, 16);
}
/*---------------------------------------Testimonials---------------------------------------*/

/*---------------------------------------Contact-Form---------------------------------------*/

.contact-main-container {
  padding-top: 4.4rem;
  background-color: #ccc;
  padding: 3rem;
}

.contact-form {
  padding: 20px;
  border: 1px solid #fff6f6;
  border-radius: 8px;
  background-color: rgb(23, 23, 23);
  opacity: 0.77;
  max-width: 100%;
  box-sizing: border-box;
}

.contact-container h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: white;
  font-family: "Jorgey", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 7px 0;
  font-weight: bold;
  color: #555;
  font-size: 0.75rem;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

textarea {
  resize: vertical;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: rgb(240, 79, 16);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Jorgey", sans-serif;
}

button:hover {
  background-color: rgb(255, 112, 60);
}


/*---------------------------------------Contact-Form---------------------------------------*/
 
 .footer {
  background-color:rgb(225, 222, 222);

}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-section h2 {
  color: black;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: left;
  width: 100%;
  font-family:  "Jorgey", sans-serif;
}

.footer-section a{
  color: black;
  font-family: "Okashi", sans-serif;
}

.footer-section a:hover{
  color: #ff6f00;
}

.footer-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem; 
}

.footer-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}



.footer-list a {
  text-decoration: none;
  color: black;
  font-family: "Okashi", sans-serif;; 
}

.footer-list a:hover {
  color: #ff6f00;
}

.brand-logo {
  height: 5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.social-media {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.social-media a {
  margin: 0 0.5rem;
  color: black;
  font-size: 1.5rem;
}

.social-media a:hover {
  color: #ff6f00;
}

.footer-bottom {
  text-align: center;
  padding: 1rem 0;
  background-color:rgb(33,33,32);
  color: #fff;
}

.footer-links {
  margin-top: 1rem;
}

.footer-links a {
  text-decoration: none;
  margin: 0 0.5rem;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-bottom .footer-links h4 {
  font-size: .8rem;
  color: white;
  font-family:  "Jorgey", sans-serif;
}

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }

  .footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5rem;
    
  }

  .footer-section li{
    font-size: 10px;
  }

  .footer-list li {
    font-size: 10px;
  }
}




/*---------------------------------------About.HTML---------------------------------------*/

.giphy-embed {
  pointer-events: none;
  box-sizing: border-box;
}

.about-section {
  padding: 6rem 3rem;
  min-height: 56rem;
  display: flex;
  flex-wrap: wrap;
  background-image: url(https://lovesomejerk.com/revslider-standalone/media/6256a-wallpaper.wiki-Free-HD-Chalkboard-Photos-PIC-WPD006400.jpg);
  gap: 20px;
  background-image: no-repeat;
  background-size: cover;
  overflow: hidden;
}

iframe,
.about-text p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

iframe {
  border-radius: 15%;
  border: 5px solid black;
  box-sizing: border-box;

}

.about-text {
  flex: 1;
  text-align: center;
  color: #ccc;
  box-sizing: border-box;
  padding-left: 40px;
}

.about-text h1 {
  font-family: "Jorgey", sans-serif;
  padding: 3rem 0;
}

.about-text p {
  font-family: "Okashi", sans-serif;
}

/*---------------------------------------About.HTML---------------------------------------*/

/*---------------------------------------Menu.HTML---------------------------------------*/

.menu-hero {
  background-image: url(https://i.postimg.cc/wj0L3Hdy/black-wood.webp);
  background-image: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
  margin-top: 4.4rem;
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.menu-hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 6.4rem;
  z-index: 1;
  font-family: "Jorgey", sans-serif;
}

.menu-container {
  height: 17rem;
  width: 30rem;
  background-color: rgba(85, 85, 85, 0.7);
  opacity: 1;
  position: absolute;
  border-radius: 10%;
}

.menu-hero-image {
  height: 47rem;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.entree-header {
  text-align: center;
  font-family: "Jorgey", sans-serif;
  padding-top: 5rem;
  font-size: 2.3rem;
  color: rgb(240, 79, 16);
}
.entree-items-container {
  height: 64rem;
}

.entree-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding-top: 4rem;
}

.menu-items img {
  height: 13rem;
}

/* ----------------------------------------Patties----------------------------------------------- */

.patties-items-container {
  height: 60rem;
}

.pattie-header {
  text-align: center;
  font-family: "Jorgey", sans-serif;
  padding-top: 5rem;
  font-size: 2.3rem;
  color: rgb(240, 79, 16);
}

.pattie-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding-top: 4rem;
}

/* ----------------------------------------Table Data------------------------------------------------------ */
.meal-info {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.meal-header {
  text-align: center;
  font-family: "Jorgey", sans-serif;
  padding: 3rem 0;
  font-size: 2rem;
  color: rgb(240, 79, 16);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

/* ----------------------------------------Table Data------------------------------------------------------ */

/* ----------------------------------------Reservation.HTML------------------------------------------------------ */

.reservation-container {
  height: 50rem;
  background-image: url(https://i.postimg.cc/wj0L3Hdy/black-wood.webp);
  background-image: no-repeat;
  background-size: cover;
}

.reservation-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 4.4rem auto 20px;
  max-width: 600px;
}

.container-2 {
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.container-2 h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #333;
  text-align: center;
  font-family: "Jorgey", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
  font-family: "Jorgey", sans-serif;
}

.btn-submit {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: rgb(240, 79, 16);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 2rem;
}

button:hover {
  background-color: rgb(255, 112, 60);
}

/* ----------------------------------------Reservation.HTML------------------------------------------------------ */


/* Extra large screens */
@media (min-width: 1920px) {
 
}

/* Desktops */
@media (min-width: 1200px) and (max-width: 1919px) {

}

/* Laptops/Large tablets */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Small tablets */
@media (min-width: 768px) and (max-width: 991px) {
/* ---------------------------------------------Nav------------------------------------------- */
  .nav-link-hidden {
    display: none;
    position: absolute;
    margin-top: 4.4rem;
    left: 50%;
    width: 80%; 
    max-width: 400px;
    background-color: #333;
    opacity: 0.9;
    z-index: 1;
    transform: translateX(-50%); 
  }

  .nav-link-hidden.active {
    display: block;
  }

  .nav-link-hidden li{
    padding: 15px;
    text-align: center;
  }

  #menu-icon{
    display: block;
    color: #ffff;
    font-size: 30px;
    position: relative;
  }

  .order-now button{
    font-size: 15px;
    margin-right: .6rem;
  
    padding: 14px 13px;

  }


  iframe {
    width: 100%; 
    height: 400px; 
    border: none; 
    border-radius: 70px;
    box-sizing: border-box;
    
    
  }
  

/* ---------------------------------------------Hero------------------------------------------- */

  .hero{
    flex-direction: column;
    height: 65rem;
  }

  .hero-text{
    order: 1;
  }

  .hero-img{
    order: 2;
  }

  .hero-text h1{
    font-size: 5.5rem;
    margin-top: 2rem;
  }

  .hero-text p{
    font-size:3rem;
  }

  /* -------------------------------------Entrees--------------------------------------------- */

  .entree-items-container{
    height: 110rem;
  }

  .patties-items-container{
    height: 90rem;
  }



  /* -------------------------------------Reseervations------------------------------------------- */


  .reservation-container {
    height:60rem;
 
  }
  



}

/* Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {
 

  .nav-link-hidden {
    display: none;
    position: absolute;
    margin-top: 4.4rem;
    left: 50%;
    width: 80%; 
    max-width: 400px;
    background-color: #333;
    opacity: 0.9;
    z-index: 1;
    transform: translateX(-50%); 
  }
  .nav-link-hidden.active {
    display: block;
  }

  .nav-link-hidden li{
    padding: 15px;
    text-align: center;
  }

  #menu-icon{
    display: block;
    color: #ffff;
    font-size: 30px;
    position: relative;
  }

  .hero{
    flex-direction: column;
    height: 58rem;
  }

  .hero-text{
    order: 1;
  }

  .hero-img{
    order: 2;
  }

  .hero-text h1{
    font-size: 4rem;
    margin-top: 2rem;
  }
  .hero-text p{
    font-size: 2rem;
  }

/* -----------------------Ingredients--------------------- */
  .ingredients {
    flex: 0 1 100px;
    height: 15rem;
    background-color: rgb(245, 196, 60);
    font-size: 2rem;
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 25px;
  }


}

/* Mobile */
@media (max-width: 480px) {
  /* --------------------------------------------Nav-------------------------------------------- */


  .logo-pic {
    height: 3rem;
    margin-left: 1rem;
  }

  .nav-link-hidden {
    display: none;
    position: absolute;
    margin-top: 4.4rem;
    left: 50%;
    width: 80%; 
    max-width: 400px;
    background-color: #333;
    opacity: 0.9;
    z-index: 1;
    transform: translateX(-50%); 
  }
  .nav-link-hidden.active {
    display: block;
  }

  .nav-link-hidden li{
    padding: 15px;
    text-align: center;
  }

  #menu-icon{
    display: block;
    color: #ffff;
    font-size: 30px;
    position: relative;
  }
  .order-now button{
    font-size: 12px;
    margin-right: .6rem;
    padding: 12px 13px;

  }

  /* ---------------------------------------------Hero------------------------------------------- */

  .hero{
    flex-direction: column;
    height: 52rem;
  }

  .hero-text{
    order: 1;
    margin-top: 1.3rem;
  }

  .hero-img{
    order: 2;
  }

  .hero-text h1{
    font-size: 4rem;
    margin-top: 2rem;
  }
  .hero-text p{
    font-size: 2rem;
  }

/* -----------------------Ingredients--------------------- */
  .ingredients {
    flex: 0 1 100px;
    height: 6rem;
    background-color: rgb(245, 196, 60);
    font-size: 2rem;
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 25px;
  }

  .container-box-wrapper {
    position: relative;
    width: 20%;
    flex: 1;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .ingredients-text p {
    font-family: "Jorgey", sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
  
  }

  .container-img img {
    height: 3rem;
  }
  .c-mainbox {
    padding: 5px;
    min-width: 115px; 
  }

  .text {
    font-family: "Jorgey", sans-serif;
    text-align: center;
    font-size: 13px;
  }
  
/*-----------------------------------------About.html----------------------------------- */

  iframe {
  width: 100%;
  height: 400px; 
  border-radius: 15%;
  border: none;
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  }

  .about-text {
    padding: 0; 
  }
/* -------------------------------------Entrees--------------------------------------------- */

  .entree-items-container{
    height: 210rem;
  }

  .patties-items-container{
    height: 159rem;
  }

  .meal-info {
    padding: 10px;
    margin: 10px 0;
    margin-bottom: px;
  
  }

  .meal-header {
    font-size: 1.5rem;
    padding: 1.5rem 0;
  }

  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 4rem;
  }


 

}